<footer class="footer">
  <div class="container container__footer">
    <div class="footer-top">
      <div class="footer-columns">
        <div class="footer-column">
          <ul class="list-reset footer-column__list ">
            <li class="footer-column__item">
              <h3 class="footer-column__title">Организация</h3>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link">О компании</a>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link">Услуги</a>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link">Статьи</a>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link">Вакансии</a>
            </li>
          </ul>
        </div>

        <div class="footer-column">
          <ul class="list-reset footer-column__list ">
            <li class="footer-column__item">
              <h3 class="footer-column__title">Как купить</h3>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link">Доставка</a>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link">Оплата</a>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link">Проекты</a>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link">Контакты</a>
            </li>

          </ul>
        </div>
        <div class="footer-column">
          <ul class="list-reset footer-column__list ">
            <li class="footer-column__item">
              <h3 class="footer-column__title">Мы на связи</h3>
            </li>

            <li class="footer-column__item"><a href="tel:88432039343"
                class="footer-column__link footer-column__link--tel">8 (843) 203-93-43</a></li>
            <li class="footer-column__item"><a href="mailto:info@td-germes.ru"
                class="footer-column__link footer-column__link--mail">info@td-germes.ru</a></li>
            <div class="footer-column__social social">
              <a href="#" class="social-icon social__whatsp">
                <img src="/img/social/whatsp.png" alt="whatsap">
              </a>
              <a href="#" class="social-icon social__teleg">
                <img src="/img/social/tlg.png" alt="telegram">
              </a>
            </div>
            </li>
          </ul>
        </div>
        <div class="footer-column">
          <ul class="list-reset footer-column__list ">
            <li class="footer-column__item">
              <h3 class="footer-column__title">Наш адрес</h3>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link footer-column__link--city">Казань</a>
            </li>
            <li class="footer-column__item">
              <a href="#" class="footer-column__link footer-column__link--street">ул.Сары
                Садыковой 30, 2 этаж</a>
            </li>
            <li class="footer-column__item">
              <p class="footer-column__text">
                Пн - Пт c 8:30 до 17:30 <br>
                Суббота с 9:00 до 14:00
              </p>
            </li>
          </ul>
        </div>
      </div>
      <button class="btn-reset btn__opt">Оптовый заказ</button>
    </div>

    <div class="footer-bottom">
      <div class="footer-bottom_copyright copyright">
        <p class="copyright__sub-title">© 2012 — 2020, ООО «ТК «Гермес» <br>
          Сайт www.td-germes.ru носит исключительно информационный характер и ни при каких условиях не является
          публичной офертой.<br>
          Для получения информации о стоимости товаров, пожалуйста, обращайтесь в отдел продаж компании Гермес. <br>
        </p>
      </div>
      <div class="footer-bottom_logo">
        <img class="img-visacard" src="/img/footer/logo_visa.png" alt="Visa">
        <img src="/img/footer/logo_mastercard.png" alt="Mastercard">
      </div>
    </div>
  </div>
</footer>
