<header class="header">
  <div class="container">
    <div class="first-header">
      <div class="first-header__logo">
        <a class="logo " href="index.html">
          <svg>
            <use xlink:href="img/sprite.svg#germes_logo"></use>
          </svg>
        </a>
      </div>
      <nav class="first-header__nav nav">
        <ul class="list-reset nav__list">
          <li class="nav__item">
            <a class="nav__link">Услуги</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Доставка</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Оплата</a>
          </li>
          <li class="nav__item">
            <a href="#" class="nav__link">Проекты</a>
          </li>
        </ul>
      </nav>
      <div class="first-header__shop">
        <a class="shop__item" href="#" aria-label="favorite">
          <svg class="shop__svg">
            <use xlink:href="img/sprite.svg#favorite"></use>
          </svg>
          <span class="shop__quantity">
            3
          </span>
        </a>
        <a class="shop__item" href="#" aria-label="basket">
          <svg class="shop__svg">
            <use xlink:href="img/sprite.svg#basket"></use>
          </svg>
          <span class="shop__quantity">
            99
          </span>
        </a>
      </div>
      <div class="first-header__tel">
        <a href="tel:8432039343" class="tel__link">
          8 (843) 203-93-43
        </a>
        <button class="tel__btn btn-reset">заказать обратный звонок</button>

      </div>
    </div>
    <div class="second-header">
      <nav class="second-header__second-nav">

        <ul class="list-reset nav-second__list">
          <li class="nav-second__item">
            <a href="#" class="nav-second__link nav-second__link--catalog-btn">
              <span class="catalog-burger">
              </span>
              <span class="catalog-text">Каталог</span>
            </a>
          </li>
          <li class="nav-second__item">
            <a href="#" class="nav-second__link nav-second__link--stock">Акции</a>
          </li>
          <li class="nav-second__item">
            <form action="#" class="nav-second__form search-form">
              <input type="text" class="search-form__input" placeholder="Введите название товара" required>
              <button class="btn-reset search-form__btn" type="submit"></button>
            </form>
          </li>
          <li class="nav-second__item">
            <a href="#" class="nav-second__link nav-second__link--bold">
              О компании
            </a>
          </li>
          <li class="nav-second__item">
            <a href="#" class="nav-second__link nav-second__link--bold">
              Контакты
            </a>

          </li>
          <li class="nav-second__item">
            <button class="btn-reset btn__opt">
              Оптовый заказ
            </button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
