<section class="hero-section">
  <div class="container hero-container">
    <div class="catalog">
      <ul class="list-reset catalog__list">
        <li class="catalog__item">
          <a href="#" class="catalog__link">
            Стеновые материалы
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
        <li class="catalog__item">
          <a href="#" class="catalog__link">
            Фасадные материалы
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
        <li class="catalog__item">
          <a href="#" class="catalog__link">
            Строительные блоки
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
        <li class="catalog__item">
          <a href="#" class="catalog__link">
            Отделочные материалы
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
        <li class="catalog__item">
          <a href="#" class="catalog__link">
            Сухие смеси
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
        <li class="catalog__item">
          <a href="#" class="catalog__link">
            Благоустройство
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
        <li class="catalog__item">
          <a href="#" class="catalog__link">
            Лако-красочные материалы
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
        <li class="catalog__item">
          <a href="#" class="catalog__link">
            Прочие услуги
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
        <li class="catalog__item">
          <a href="#" class="catalog__link catalog__link--stock">
            Распродажа товаров
          </a>
          <span class="catalog__link-icon">
            <svg class="">
              <use xlink:href="img/sprite.svg#vector"></use>
            </svg>
          </span>
        </li>
      </ul>
    </div>
    <div class="hero">
      <div class="hero__top hero-top">
        <div class="hero-top__left hero-left">
          <span class="hero-left__best-price">Лучшая цена</span>
        </div>
        <div class="hero-top__right hero-right">
          <ul class="list-reset hero-right__list">
            <li class="hero-right__item">
              <h2 class="hero-right__title">Кирпич облицовочный М95 Воткинский</h2>
            </li>
            <li class="hero-right__item">
              <h3 class="hero-right__sub-title">Кол-во на поддоне, шт. - 297</h3>
              <h3 class="hero-right__sub-title">Формат одинарный</h3>
            </li>
            <li class="hero-right__item">
              <span class="hero-right__text">бесплатная доставка</span>
              <span class="hero-right__text">в наличии</span>
            </li>
            <li class="hero-right__item">
              <span class="hero-right__price">4500 &#x20bd/шт</span>
            </li>
            <li class="hero-right__item hero-right__item-btn">
              <button class="btn-reset hero-right__btn">Купить в 1 клик</button>
              <button class="btn-reset hero-right__btn-basket"><svg>
                  <use xlink:href="img/sprite.svg#main-basket"></use>
                </svg></button>
            </li>
          </ul>
        </div>
      </div>
      <div class="hero__bottom hero-bottom">
        <ul class="list-reset hero-bottom__list">
          <li class="hero-bottom__item">
            <img src="/img/icon/car.png" alt="Доставка" class="hero-bottom__icon">
            <p class=" hero-bottom__text">Доставка стройматериалов
              и аренда спецтехники</p>
          </li>
          <li class="hero-bottom__item">
            <img src="/img/icon/procent.png" alt="Скидка" class="hero-bottom__icon">
            <p class=" hero-bottom__text">Скидки застройщикам
              и оптовикам</p>
          </li>
          <li class="hero-bottom__item">
            <img src="/img/icon/rub.png" alt="Цена" class="hero-bottom__icon">
            <p class=" hero-bottom__text">Предлагаем
              лучшую цену</p>
          </li>
          <li class="hero-bottom__item">
            <img src="/img/icon/calendar.png" alt="Календарь" class="hero-bottom__icon">
            <p class="hero-bottom__text">Работаем 7 дней
              в неделю</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
