<section class="project-min-section">
  <div class="container container__project-min">
    <div class="project-min">
      <div class="project-min__header project-min-header section-header">
        <h2 class="project-min-header__title title-section">Проект из наших стройматериалов</h2>
        <a href="#" class="project-min-header__link link-section link-section">
          Смотреть все проекты
          <svg class="project-min-header__svg svg__arrow-right">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>

      <div class="project-min__content content-swiper">
        <div class="swiper project-min__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/img/swiper/swiper1.png" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="/img/swiper/swiper2.jpg" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="/img/swiper/swiper3.jpg" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper project-min__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/img/swiper/swiper1.png" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="/img/swiper/swiper2.jpg" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="/img/swiper/swiper3.jpg" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
        <div class="swiper project-min__swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="/img/swiper/swiper1.png" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="/img/swiper/swiper2.jpg" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
            <div class="swiper-slide">
              <img src="/img/swiper/swiper3.jpg" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>

          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </div>

</section>
