<section class="section-showroom">
  <div class="container container__showroom">
    <div class="showroom">
      <div class="showroom__header showroom-header section-header">
        <h2 class="showroom-header__title title-section">Наш шоурум</h2>
        <a href="#" class="showroom-header__link link-section link-section">
          Перейти в контакты
          <svg class="showroom-header__svg svg__arrow-right">
            <use xlink:href="img/sprite.svg#arrow-right"></use>
          </svg>
        </a>
      </div>

      <div class="showroom__content content-swiper ">
        <div class="swiper showroom-swiper">
          <div class="swiper-wrapper showroom-wrapper">
            <div class="swiper-slide showroom-wrapper__slide">
              <img src="/img/swiper/swiper1.png" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
            <div class="swiper-slide showroom-wrapper__slide">
              <img src="/img/swiper/swiper2.jpg" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
            <div class="swiper-slide showroom-wrapper__slide">
              <img src="/img/swiper/swiper3.jpg" alt="">
              <div class="swiper-slide-desc">
                <h3 class="swiper-slide-desc__title">Аэропорт Казань</h3>
                <p class="swiper-slide-desc__text">Комплекс услуг по доставке товара на <br> Ваш строительный объект.
                  Комплекс
                  услуг по доставке.</p>
                <a href="#" class="swiper-slide-desc__link">Перейти к объекту</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
